@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    color: var(--text);
}

:root {
    --background: #FCFAF9;
    --text: #191826;
    --lightGreen: #66E2DC;
    --lightRed: #FA7453;
    --orange: #FFB964;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--background);
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 40px 24px 80px 24px;
    background-image: url('./assets/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-position: right -220px top -220px;
    overflow-x: hidden;
}

.extraordinary {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.454545px;
    margin: 64px 0 20px;
}

.systemP {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

main {
    width: 100%;
    margin-top: 166px;
}

.try {
    width: 100%;
    display: flex;
    justify-content: center;
}

.phone {
    width: 55.72%;
    z-index: 1;
    position: absolute;
    margin-top: -98px;
}

.blackDV {
    background-color: var(--text);
    padding: 0 48px 180px;
    margin: 0 -24px;
}

.bgpattern2 {
    width: 100%;
}

.lightRed {
    background-color: var(--lightRed);
    margin: -220px -24px 0;
    padding: 48px 36px;
    position: relative;
    border-radius: 12px;
}

.premium {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: var(--background);
}

.export {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--background);
    margin: 12px 0 36px;
}

.prise {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 32px;
}

.dolar {
    font-weight: 700;
    font-size: 65px;
    line-height: 52px;
    color: var(--background);
}

.month {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: var(--background);
}

.btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    border: none;
    padding: 15px 77px;
    background-color: var(--text);
}

.android {
    padding: 15px 57.5px 15px 62px;
    background-color: var(--background);
    margin-top: 16px;
}

.text {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: var(--background);
}

.androidtxt {
    color: var(--text);
}

footer {
    margin-top: 64px;
}

.contactUs {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 32px 0 64px;
    padding-right: 31px;
}

a {
    font-weight: 700;
    line-height: 26px;
    font-size: 16px;
}

.fbinstatwt {
    display: flex;
    column-gap: 20px;
}

.tvinistyvna {
    display: none;
}

/* tablet version */

@media screen and (min-width:768px) {

    body {
        background-image: unset;
        padding: 62px 39px 85px;
        background-image:
            url('./assets/bg-pattern-1.svg'),
            url('./assets/bg-main-tablet.png');
        background-repeat: no-repeat;
        background-position: 110% -50px, 60% -230px;
    }

    .extraordinary {
        padding-right: 244px;
        font-weight: 700;
        font-size: 64px;
        line-height: 64px;
        letter-spacing: -0.73px;
        margin: 95px 0 28px;
    }

    .systemP {
        padding-right: 176px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }

    main {
        margin-top: 249px;
    }

    .blackDV {
        padding: 0 187px 125px 229px;
        margin: 0 -39px;
    }

    .try {
        display: block;
    }

    .phone {
        width: 35.2%;
        z-index: 1;
        position: absolute;
        margin-top: -138px;
        margin-left: 64px;
    }

    .lightRed {
        margin: -460px 58px -96px 239px;
        padding: 48px;
        border-radius: 12px;
        z-index: 1;
    }

    .export {
        margin-bottom: 0;
    }

    .prise {
        margin-top: 36px;
    }

    footer {
        margin-top: 183px;
    }

    .contactUsDiv {
        display: flex;
        justify-content: space-between;
    }

    .contactUs {
        height: 79px;
        margin: 0;
        padding-right: 280px;
        margin-top: 32px;
    }

    .fbinstatwt {
        align-self: center;
    }
}

/* desktop version */

@media screen and (min-width:1024px) {

    .systemP {
        padding-right: 225px;
    }

    main {
        margin-top: 321px;
    }

    .blackDV {
        padding: 0 412px 172px 280px;
    }

    .phone {
        width: 28%;
        margin-left: 90px;
    }

    .lightRed {
        margin: -500px 105px 0 400px;
        padding: 58px 59px 48px 54px;
    }

    .btn{
        cursor: pointer;
    }

    .ios:hover{
        background-color: var(--lightGreen);
    }

    .android:hover{
        background-color: var(--orange);
    }

    svg:hover{
        cursor: pointer;
        background: var(--lightGreen);
    }
}

@media screen and (min-width:1366px) {

    body {
        background-image:
            url('./assets/bg-pattern-1.svg'),
            url('./assets/bg-main-tablet.png');
        background-position: 100% -40px, 20% -230px;
    }

    .systemP {
        padding-right: 285px;
    }

    .blackDV {
        padding: 0 450px 120px 280px;
    }

    .phone {
        width: 23%;
        margin-left: 100px;
    }

    .lightRed {
        margin: -400px 250px 0 500px;
    }

    footer{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .contactUs {
        padding: 0 359px 0 137px;
    }
}

@media screen and (min-width:1440px) {
    body {
        background-color: #FCFAF9;
        padding: 62px 165px 91px;
        background-image: unset;
        background-image:
            url('./assets/bg-pattern-1.svg'),
            url('./assets/bg-main-desktop.png');
        background-position: 100% -40px, 60% -230px;
        
    }

    .extraordinary {
        font-size: 88px;
        line-height: 88px;
        letter-spacing: -1px;
        margin: 127px 0 40px;
    }

    .systemP {
        font-size: 20px;
        line-height: 34px;
        padding-right: 265px;
    }

    main {
        margin-top: 321px;
    }

    .blackDV {
        padding: 0 462px 172px 336px;
    }

    .phone {
        width: 21.7%;
        margin-left: 102px;
    }

    .lightRed {
        margin: -590px 95px -115px 569px;
        padding: 58px 59px 48px 54px;
    }

    .premium {
        font-size: 40px;
        line-height: 52px;
    }

    .export {
        font-size: 20px;
        line-height: 34px;
        margin-top: 22px;
    }

    .prise {
        margin: 39px 0 46px;
    }

    footer {
        margin-top: 203px;
    }
}